.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 1.3;
  padding: 0 0;
}

.header,
.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding: 0 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--border-color);
  border-style: solid;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-width: 0 0 1px 1px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 40px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  display: var(--rec-display, none);
}

.header__rec::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-top: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--title-color);
  font-size: 18px;
  text-transform: lowercase;
  cursor: pointer;
  padding: 0 13px;
  line-height: 1.25;
  transition: border-color 0.3s;
}

.header__theme-menu-button_active {
  border-color: var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-border);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.header__title {
  grid-row: 2;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--main-title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  margin: 0;
}

.header__description {
  grid-row: 3;
  align-self: center;
  max-inline-size: 100%;
  width: 355px;
  margin-block-start: 15px;
  margin-block-end: 27px;
  margin-inline-end: 0;
}

.main {
  margin: 0 10px;
}

.section:first-of-type {
  margin-top: 40px;
}

.section {
  margin: 50px 0;
}

section:last-of-type {
  margin-bottom: 40px;
}

.section__title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section--gallery .section__title {
  margin-bottom: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text);
  font-weight: bold;
  padding: 0 2px;
  width: 100%;
}

.section__subtitle {
  font-weight: bold;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--decor-text);
  padding: 0 2px;
  width: 100%;
}

.section__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
}

.card__title--regular {
  font-weight: normal;
}

.card__text {
  font-size: 18px;
  line-height: 1.3;
}

.card__text a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text a:hover {
  text-decoration: underline;
}

.card__text a:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-rows: 142px 355px 237px 355px 237px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item:nth-child(1) {
  grid-row: 1;
}

.gallery__item:nth-child(2) {
  grid-row: 2;
}

.gallery__item:nth-child(3) {
  grid-row: 4;
}

.gallery__item:nth-child(4) {
  grid-row: 5;
}

.gallery__item:nth-child(5) {
  grid-row: 3;
}

.footer__title {
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--main-title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
}

@media (width >= 768px) {
  .header {
    padding-left: 0px;
    padding-right: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 50px;
  }

  .header__theme-menu {
    margin-top: 5px;
  }

  .header__title {
    line-height: 0.65;
  }

  .header__description {
    max-inline-size: calc(50% - 10px);
    justify-self: flex-end;
  }

  .main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section {
    margin: 80px 0px;
  }

  .section--why .section__title {
    padding-right: 10px;
  }

  .section--what .section__title {
    width: calc((100% - 80px)/3);
    padding-bottom: 20px;
  }

  .section--gallery .section__title {
    margin-bottom: 20px;
  }

  .section--why,
  .section--tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .section:not(.section--gallery) .section__title {
    margin-bottom: 0;
  }

  .section__subtitle {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
  }

  .section:not(.section--gallery):not(.section--what) .section__cards {
    display:flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2;
    grid-row: 1;
    margin: 0px 0px 0px 10px;
  }

  .section--why .section__cards {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .section--what .section__cards {
    display: flex;
    flex-direction: column;
  }

  .section--tips .section__cards {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .gallery {
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-top: 20px;
    margin-left: 20px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    max-width: 1024px;
    margin: 20px auto;
  }

  .section--what .section__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section--why .section__cards,
  .section--tips .section__cards {
    display: flex;
    flex-direction: column;
  }

  .section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section--why {
    grid-template-columns: 295px 666px;
    gap: 25px;
  }

  .section--tips {
    grid-template-columns: 310px 662px;
    gap: 10px;
  }

  .section--gallery .section__title {
    margin-bottom: 20px;
  }

  .gallery {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .gallery__item:nth-child(5) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .footer__title {
    font-size: 157px;
  }
}